.imgcard {
  height: 180px;
  width: 100%;
}

.album-info {
  height: 140px;
  overflow-y: auto;
}

.link {
  background-color: #dee4e4;
}

.border-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
